# Configuración MongoDB
DATABASE_URL=mongodb://localhost:27017
MONGO_INITDB_DATABASE=chatbot_famaf_admin

# Seguridad
SECRET_KEY=your-secret-key-here-minimum-32-characters-use-openssl-rand-hex-32

# Configuración CORS
CLIENT_ORIGIN=http://localhost:3000

# Expiración del Token de Autenticación (en segundos)
ACCESS_TOKEN_EXPIRES_IN=3600

# Credenciales de Superusuario
# Para crear el primer superusuario cuando la base de datos está vacía
SUPERUSER_EMAIL=admin@famaf.com
SUPERUSER_PASSWORD=contra123
SUPERUSER_FULL_NAME=Super Usuario
